{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="{{ asset("img/logo-cyan.png") }}" alt="MonTrésorier">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Créez votre compte
        </h2>

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            {{ form_start(registrationForm, {
                attr: {"class": "space-y-6"}
            }) }}

            {{ form_row(registrationForm.email, {
                label: "Adresse mail",
                label_attr: {"class": "block text-sm font-medium text-gray-700"},
                attr: {"class": "mt-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-cyan-500 focus:border-cyan-500 sm:text-sm"}
            }) }}

            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                label_attr: {"class": "block text-sm font-medium text-gray-700"},
                attr: {'class': 'mt-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-cyan-500 focus:border-cyan-500 sm:text-sm'}
            }) }}

            {{ form_row(registrationForm.agreeTerms, {
                label: "Accepter les termes",
                label_attr: {"class": "text-sm font-medium text-gray-700"},
                attr: {"class": "mt-1 ml-2 h-4 w-4 text-cyan-600 focus:ring-cyan-500 border-gray-300 rounded"}
            }) }}

            <div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
                    Register
                </button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
